body{
    background-color: #666;
}
.txt-negro{
    color: #111;
}
.btn-negro{
    background-color: #111;
    color: white;
}
.btn-negro:hover{
    background-color: #111;
    color: white;
}
.niTask{
    display: inline-flex;
    justify-content: space-between;
    width: 20%;
    height: 10%;
    height: 15rem;
    background-color: #ffffcc;    
}
.iTask{
    display: inline-flex;
    justify-content: space-between;
    width: 20%;
    height: 15rem;
    background-color: #ec7063;
    
}
p{
    line-height: 2;
    font-size: large;
}